<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div>
      <h1 id="header_1">Заголовок H1</h1>
      <h2>Заголовок H2</h2>
      <h3>Заголовок H3</h3>
      <h4>Заголовок H4</h4>
      <h5>Заголовок H5</h5>
      <h6>Заголовок H6</h6>
      <p class="text bold">Основной текст страницы
          <span style="color: green;">А этот текст я отдельно выделю зеленым</span>
      </p>
      <a href="https://example.com" target="_blank">Перейти по ссылке в отдельной вкладке</a>
      <br>
      <img style="width: 150px;" src="cat_image.jpg" alt="Осторожно, шкодные котики">
      <ul>
        <li>Пункт 1 ненумерованный список</li>
        <li>Пункт 2 ненумерованный список</li>
      </ul>
      <ol>
        <li>Первый пункт нумерованный список</li>
        <li>Второй пункт нумерованный список</li>
      </ol>
  </div>
  <div>
    <form action="/submit" method="POST">
      <input type="text" name="username" placeholder="Введите ваше имя">
      <br>
      <input required type="email" name="email" placeholder="Введите ваш email">
      <br>
      <input required type="password" name="password" placeholder="Введите пароль">
      <br>
      <textarea>Широкое текстовое поле</textarea>
      <br>
      <button type="submit">Отправить</button>
    </form>
    <table>
      <tr>
        <td>Ячейка 1 строка 1</td>
        <td>Ячейка 2 строка 1</td>
      </tr>
      <tr>
        <td>Ячейка 1 строка 2</td>
        <td>Ячейка 2 строка 2</td>
      </tr>
    </table>
  </div>
</body>
</html>